<ion-content [fullscreen]="true">
  <div id="container">
  <!-- Calculadora - div que tem tudo dentro -->
  <div class="calculadora">
    <!-- Visor -->
<ion-row>
<ion-col size="12" class="visor">
<ion-row>
  <!-- parte da linha - conta -->
  <ion-col size="12" class="conta">450+50+1000</ion-col>
</ion-row>
<ion-row>
  <!-- parte da linha - conta -->
  <ion-col size="12" class="igual">=</ion-col>
</ion-row>

<ion-row>

    <!-- parte da linha - resultado -->
  <ion-col size="12" class="resultado">1500</ion-col>
</ion-row>
</ion-col>
</ion-row>
<!-- Abertura das teclas -->
<ion-row>
  <ion-col size="12" class="guardaBotoes">
 <ion-row>
   <ion-col class="button" size="3"><div class="botao">C</div></ion-col>
   <ion-col class="button" size="3"><div class="botao">+/-</div></ion-col>
   <ion-col class="button" size="3"><div class="botao">Del</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">/</div></ion-col>
 </ion-row>
 <ion-row>
  <ion-col class="button" size="3"><div class="botao">7</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">8</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">9</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">X</div></ion-col>
 </ion-row>
 <ion-row>
  <ion-col class="button" size="3"><div class="botao">4</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">5</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">6</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">-</div></ion-col>
 </ion-row>
 <ion-row>
  <ion-col class="button" size="3"><div class="botao">1</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">2</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">3</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">+</div></ion-col>
 </ion-row>
 <ion-row>
  <ion-col class="button" size="3"><div class="botao">0</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">.</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">%</div></ion-col>
  <ion-col class="button" size="3"><div class="botao">=</div></ion-col>
 </ion-row>
</ion-col>
</ion-row>
</div>
  </div>
</ion-content>
