*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendario{
  height: 100vh;
  
  &__fundo{
    background-color: #E8A2AB;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -20px 17px 23px -13px rgba(0,0,0,0.63);
    // height: 70vh;

    }
  
  &__foto{
    height: 20%;
  }
  &__mes{
    padding: 20px;
    font-size: 2.6rem;
    color: #FFBBB3;

  }

  &__ano{
    padding: 20px;
    font-size: 2.6rem;
    color: #FFBBB3;
  }
  &__dia-semana{
    font-size: 2rem;
    color:#400036;
    font-weight: bold;
    padding: 20px;
  }
  &__dia{
    color:aliceblue;
    font-size: 1.8rem;
    padding: 20px;
  }

}

.foto{
  background: #E8A2AB;
}